 <h1>
  App Works!
 </h1>

<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCyEd2xMIF8QocDaIIcDaRKLmzpC263TbI",
    authDomain: "e-commerce-single-page-app.firebaseapp.com",
    databaseURL: "https://e-commerce-single-page-app.firebaseio.com",
    projectId: "e-commerce-single-page-app",
    storageBucket: "e-commerce-single-page-app.appspot.com",
    messagingSenderId: "90777062058"
  };
  firebase.initializeApp(config);
</script>
 