<div class="form-group">
  <nav class="navbar navbar-default">

    <ul class="nav nav-tabs">
      <form class="nav nav-tabs navbar-form navbar-left">
        <li><a routerLink="home" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Store <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/men">Men</a></li>
            <li><a routerLink="/women">Women</a></li>
            <li><a routerLink="/kids">Kids</a></li>
          </ul>
        </li>
      </form>
      <form class="nav nav-tabs navbar-form navbar-left">
        <li><input type="text" class="form-control" placeholder="Search"></li>
        <li><a routerLink="">Search</a></li>
      </form>
      <form class="nav nav-tabs navbar-form navbar-right">
        <li *ngIf="isAuthenticated() == false"><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Sign In</a></li>
        <li *ngIf="isAuthenticated() == false"><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a></li>
        <li class="dropdown" *ngIf="isAuthenticated() == true">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user">Profile</a></li>
            <li><a routerLink="/settings">Settings</a></li>
            <li><a routerLink="/login" (click)="logOut()">Sign out</a></li>
          </ul>
        </li>
      </form>
    </ul>
  </nav>
</div>