<div class="well">
    <h4>Total Items: {{allItems?.length}}</h4>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-s-12 col-sm-12 col-lg-12th thumbnail  center-block">
                <div>
                    <a><img  style="float:left" class="img-responsive img-thumbnail " src="{{myItem.imgUrl}}"></a>

                    <div class="text-center">
                        <dl>
                            <h3>{{myItem.name}}</h3>
                            <h2><small>{{myItem.brand}}</small></h2>
                            <dt>Description:</dt>
                            <dd>{{myItem.description}}</dd>
                            <dt>Sizes:</dt>
                            <dd>{{myItem.size}}</dd>
                            <dt class="text-success">Price: {{myItem.price}}</dt>
                            <dd><button class="btn-link">Buy!</button></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>